@charset "utf-8";
/* @charset "utf-8"; para caracteres especiais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* 
    Configuração de reset de parâmetros de margem e preenchimento.
    */
}

html, body {
    height: 100vh; /*altura da viewport*/
    width: 100vw; /*largura da viewport*/
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

main {
    position: relative; /*para poder organizar a centralização dos elementos*/
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url("../imagens/frame-iphone.png") no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px ;
    width: 269px;
    height: 471px
}

section#redes-sociais{
    text-align: right;
    
}

section#redes-sociais > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}

section#redes-sociais > a > img:hover {
    border: 2px solid rgba(255, 255, 255, 0.673);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}